{% extends 'base.html' %}

{% block title %}Lista de Atividades{% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Controle de Gastos</h1>
    <div class="col-2 add-div">
        <i class="fas fa-plus"></i> Adicionar receitas
    </div>
    <div class="col-9 pesquisa-div">
        <input class="form-control" type="text" id="pesquisa" name="search" name="search" placeholder="Digite o nome da receita">
        <i class="fas fa-search"></i>
    </div>
    <ul class="conta-list">
        {% for conta in contas %}
        <li class="conta-item">
            <span><a href="/conta/{{conta.id}}">{{conta.titulo}} - {{conta.valor}}</a></span>
            <span><i class="fas fa-trash"></i></span>
            <span><i class="fas fa-edit"></i></span>
        </li>
        {% endfor %}
        </ul>
</div>
    <div class="offset-1 col-10 list-div">
    <div class="col-2 add-div2">
        <i class="fas fa-plus"></i> Adicionar despesas
    </div>
    <div class="col-9 search-div">
        <input class="form-control" type="text" id="search" name="search" name="search" placeholder="Digite o nome da despesa">
        <i class="fas fa-search"></i>
    </div>
    <ul class="despesa-list">
        {% for despesa in despesas %}
        <li class="despesa-item">
            <span><a href="/despesa/{{despesa.id}}">{{despesa.titulo}} - {{despesa.valor}}</a></span>
            <span><i class="fas fa-trash"></i></span>
            <span><i class="fas fa-edit"></i></span>
        </li>
        {% endfor %}
    </ul>
    </div>
    <div class="offset-1 col-10 list-div">
    <div class="col-2 result-div">
        <i class="fas fa-dollar-sign"></i> Resultado
    </div>
    <ul class="resultado-list">
        <li class="resultado-item">
            <span><a href="/resultado/{{resultado.id}}">Total: {{resultado_final}}</a></span>
        </li>
    </ul>
</div>
{% endblock %}